@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    gap: 0;
  }
  .auth-nav {
    display: flex;
    gap: 40px;
    flex-direction: row;
    margin-right: 0;
  }

  .auth-nav .link-mail {
    font-size: 16px;
  }

  .auth-nav .link-tel {
    font-size: 16px;
  }

  .header-navigation {
    margin: 0;
  }

  .container.header-container {
    max-width: 1440px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .logo {
    margin-left: 156px;
    margin-right: 76px;
  }
  .hero {
    background-image: var(--grd), url(../images/people-office\ 1.jpg);
  }
  .hero-container {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  .features-container {
    max-width: 1128px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-item {
    width: calc((100% - 24px) / 4);
  }
  .pic {
    width: calc((100% - 72px) / 4);
  }
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .examples {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-title {
    margin-bottom: 72px;
  }
  .examples-item {
    width: calc((100% - 48px) / 3);
  }
  .examples-container {
    max-width: 1128px;
    display: table;
  }
  .team-container {
    max-width: 1128px;
  }
  .features-icon {
    display: flex;
  }
  .features-list {
    gap: 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .customers-container {
    max-width: 1128px;
  }

  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .footer-container {
    max-width: 1440px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .webstudio {
    margin-right: 120px;
    padding-left: 0;
  }

  .socialmedia {
    margin-right: 80px;
  }

  .subscribe-form {
    padding: 0;
  }
}
