@media screen and (min-width: 320px) {
  .gamburger {
    width: 24px;
    height: 24px;
    margin-left: auto;
  }

  .container.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 480px) {
    .container {
      /* max-width: 294px; */
      max-width: 426px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
        background-image: var(--grd), url(../images/Dark-bg-tabl-2x.jpg);
      }
    }
    .container.header-container {
      display: flex;
      max-width: 100%;
      padding-top: 24px;
      padding-left: 16px;
      padding-bottom: 24px;
    }
    .menu-open-btn {
      margin-left: auto;
      padding-left: 24px;
      padding-right: 16px;
    }
    .features-container {
      max-width: 100%;
    }
    .container.hero-container {
      max-width: 1440px;
    }

    .customers-container {
      max-width: 426px;
    }
    .customers-item {
      width: calc((100% - 16px) / 2);
    }

    .footer-container {
      max-width: 428px;
      flex-wrap: wrap;
    }

    .subscribe-input {
      width: 396px;
    }
  }
}
