/* Navigation & heading text NAVY BLUE #2E2F42 */
/* Body text SLATE #434455 */
/* Accent IRIS #4D5AE5*/
/* Hero text WHITE #FFFFFF */
/* Primary background color NAVY BLUE #2E2F42 */
/* Secondary background color CLOUD #F4F4FD*/

:root {
  --accent-color: #4d5ae5;
  --body-text: #434455;
  --heading-text: #2e2f42;
  --primary-wh-color: #ffffff;
  --primary-background-color: #2e2f42;
  --secondary-background-color: #f4f4fd;
  --bgk-btn: #404bbf;
  --grd: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --transition-property: color;
  --transition-duration: 250ms;
}

body {
  background-color: var(--primary-wh-color);
  color: var(--body-text);
  font-family: "roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

button {
  min-width: 165px;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--primary-wh-color);
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.button:is(:hover, :focus) {
  background-color: var(--bgk-btn);
}

.logo {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-text);
  margin-right: 76px;
}

a:hover {
  text-decoration: none;
  cursor: default;
}

.accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.address {
  display: none;
}

.site-nav {
  display: none;
}
.container.mob-container {
  max-width: 428px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding-left: 40px;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.modal-close {
  display: block;
  margin-left: auto;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.mob-menu-item:not(last-child) {
  margin-bottom: 40px;
}

.mob-menu-kontakt {
  display: flex;
  flex-wrap: wrap;
}
.mob-menu-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: #4d5ae5;
  margin-bottom: 40px;
}
.mob-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
}

.mob-soc-list {
  display: flex;
  justify-content: center;
  gap: 56px;
}
.mob-soc-item {
  width: 40px;
  height: 40px;
}
.mob-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-soc-icon {
  fill: currentColor;
  cursor: pointer;
}

/* Hero */

.hero {
  text-align: center;
  background-color: var(--primary-background-color);
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--grd), url(../images/Dark-bg-mob-2x.jpg);
  }
}

.hero-container {
  justify-content: center;
  padding: 0;
  max-width: 100%;
  padding: 112px 56px 112px 54px;
}

.hero-title {
  max-width: 500px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

/* Features */

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}

/* .features {
  padding-top: 96px;
} */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-text);
  text-align: center;
}

.title {
  color: var(--heading-text);
  font-size: 36px;
  line-height: 1.1;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.features-list {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  padding-top: 96px;
}

.features-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* Work examples */

.examples {
  padding-bottom: 120px;
  margin: 0 auto;
}

.examples-container {
  display: none;
}

.examples-list {
  display: flex;
  margin-top: 72px;
  gap: 24px;
}

.examples-item {
  width: calc((100% - 48px) / 3);
}

/* Our Team */

.team {
  padding-top: 96px;
  padding-bottom: 128px;
  background-color: var(--secondary-background-color);
}

.team-container {
  max-width: 264px;
}

.title-our-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--heading-text);
  text-align: center;
}

.team-list {
  margin-top: 72px;
  display: flex;
  margin: 0px auto;
  /* gap: 24px; */
  flex-wrap: wrap;
  column-gap: 24px;
}

.pic {
  width: 264px;
  background-color: var(--primary-wh-color);
  margin-top: 72px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .pic {
    background-image: url("photo@2x.png");
  }
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-text);
}

.team-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
  margin-top: 8px;
  margin-bottom: 8px;
}

.team-desc {
  padding: 32px 16px;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
  cursor: pointer;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--bgk-btn);
}

/* <!-- ----------Customers--------- --> */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}
.customers-container {
  margin: 0 auto;
}

.customers-list {
  display: flex;
  margin-top: 72px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-item {
  height: 88px;
  width: 190px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  cursor: pointer;
}
.customers-icon {
  fill: currentColor;
  transition: border-color var(--transition-duration)
      cubic-bezier(0.4, 0, 0.2, 1),
    var(--transition-property) var(--transition-duration)
      cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.customers-link:is(:hover, :focus) {
  border-color: var(--bgk-btn);
  color: var(--bgk-btn);
}

/* Portfolio buttons */

.image-btn {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.image-btn button {
  min-width: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 24px;
  color: var(--accent-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  border: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: var(--accent-color);
  color: var(--primary-wh-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio img */

.image {
  padding-top: 96px;
  padding-bottom: 120px;
}

.picture {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.picture-item-list {
  display: flex;
  flex-basis: calc ((100% - 48px) / 3);
  width: 360px;
}
.picture-item-list:hover .portfolio-top-text {
  transform: translateY(0%);
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-item-link {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-item-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-background-color);
  background-color: var(--accent-color);
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  display: inline-block;
  transition-duration: var(--transition-duration);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.picture-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-text);
  padding-left: 16px;
  margin-bottom: 8px;
}

.picture-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 16px;
  color: #434455;
}

.tittle-brd {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

/* Footer */

.footer {
  background-color: var(--primary-background-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: baseline;
  gap: 72px;
}

.logo-footer-container {
  display: flex;
  justify-content: center;
}

.logo-footer {
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-subtitle {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
}

.soc-footer-container {
  display: flex;
  justify-content: center;
}

.soc-footer-list {
  display: flex;
  margin-top: 16px;
  gap: 16px;
}

.soc-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #f4f4fd;
  background-color: #434455;
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-footer-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-icon {
  cursor: pointer;
}

.soc-footer-subtitle {
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/* --------modal-------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
    visibility var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 24px;
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transition: transform 200ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-close {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-icon:hover {
  fill: #ffffff;
  background-color: var(--accent-color);
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-left: 38px;
  outline: transparent;
}
.modal-input:focus,
.modal-comment:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input::placeholder,
.modal-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

.modal-input-text {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-field {
  margin-bottom: 24px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrap {
  position: relative;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
  outline: transparent;
  padding-top: 8px;
  padding-left: 16px;
  resize: none;
}

.check-text {
  display: flex;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #757575;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  fill: #f4f4fd;
}
.check-policy {
  color: var(--accent-color);
}
.modal-form-submit {
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--primary-wh-color);
  transition: background-color var(--transition-duration)
    cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--bgk-btn);
}

.webstudio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 0;
}
.socialmedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.subscribe-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form-submit {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 10px;
}

.subscribe-form-submit:hover,
.subscribe-form-submit:focus {
  background-color: var(--bgk-btn);
  transition: background-color var(--transition-property);
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 16px;
}

.subscribe-input {
  width: 290px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  font-size: 12px;
  line-height: 0.1;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.button-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
}

.subscribe-icon {
  fill: #ffffff;
}

.subscribe-form-submit {
  margin: 0;
}
