@media screen and (min-width: 768px) {
  .container {
    max-width: 582px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
    justify-content: flex-start;
  }

  .team {
    padding-bottom: 104px;
  }
  .pic {
    width: calc((100% - 24px) / 2);
  }
  .team-container {
    max-width: 602px;
  }
  .features-container {
    max-width: 766px;
  }
  .features-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .customers-item {
    height: 88px;
    width: 168px;
  }

  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}
